@import './base.css';
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body{
  background-color: #0F172A;
}

a{
  text-decoration: none;
  color: #b3daff;
  transition: 0.4s;
  padding-right: 75px;
  padding-left: 10px;
  font-weight: 600;
}

a :hover{
  color: white;
}

.projects{
  background-color: #1E293B;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  box-shadow: 0 2PX 10PX rgba(124, 19, 19, 0.2);
}

.projects h3{
  color: #FFD54F;
  font-weight: 500;
}

.list{
  margin-right: 50px;
  padding: 20px;
}

.demo{
  text-decoration: none;
  color: rgb(175, 193, 209);
  transition: 0.4s;
  font-weight: 500;
}